
    <section class="content-header">
        <h1>
           Your Profile

        </h1>
        <ol class="breadcrumb">
            <li><a href="../#/app/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Profile</li>
        </ol>
    </section>

 <section class="content">

        <div class="no-touch">

            <div class="wrap">

            <div class="col-md-5">
            <div class="col-xs-12 padding-none">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Email Id
                    </div>
                    <div class="panel-body">
                        <i class="fa fa-envelope" style="width:25px;"></i><a href="mailto:abhinav.ralhan1@gmail.com"> abhinav.ralhan1@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 padding-none">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Website
                    </div>
                    <div class="panel-body">
                        <i class="fa fa-dribbble" style="width:25px;"></i> <a href="http://abhinavr8.ml" target="_blank"> www.abhinavr8.ml</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 padding-none">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Contact Number
                    </div>
                    <div class="panel-body">
                        <i class="fa fa-whatsapp" style="width:25px;"></i> <a href="tel:+919790650659"> +91-9560385271</a><br />
                        <i class="fa fa-mobile" style="width:25px;"></i> <a href="tel:+917200145638"> +91-9561232121</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 padding-none">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        Github
                    </div>
                    <div class="panel-body">
                        <i class="fa fa-github" style="width:25px;"></i><a href="https://github.com/abhinavralhan" target="_blank"> https://github.com/abhinavralhan </a>

                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-warning">
                    <div class="panel-body">
                        <iframe src="" height="450" frameborder="0" style="border:0;width:100%;" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>